{% for game in games['results'] %}
<div class="col-lg-3 col-md-3 col-sm-6">
  <div class="card">
      <img src="{{ game.get('background_image') }}" class="card-img-top" alt="Game 1">
      <div class="card-body">
          <h5 class="card-title">{{ game.get('name') }}</h5>
          <p class="card-text">Platform: PC, PS5, Xbox</p>
          <a href="{{ url_for('details', id=game.get('id'))}}" style="color: darkslategrey;"> Details </a>
      </div>
  </div>
</div>
                  
{% endfor %}
<div hx-get="{{url_for('load_more')}}"
                 hx-trigger="revealed"
                 hx-swap="beforeend"
                 hx-target="#spec"
                 id="load-more"
                 style="text-align:center; padding: 20px; color: bisque;">
              
                </div> 